@tailwind base;

:root {
    --primary: transparent;
    --secondary: #ececff;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

@tailwind components;
@tailwind utilities;