@tailwind base;

:root {
    --primary: transparent;
    --secondary: #ececff;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    font-family: 'Muli', sans-serif !important;
}

::selection {
    background-color: #ececff;
    color: unset;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

@tailwind components;
@tailwind utilities;